{
  "$schema": "https://json.schemastore.org/prettierrc",
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 79
      }
    },
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "plugins": ["prettier-plugin-svelte"]
      }
    },
    {
      "files": "Dockerfile",
      "options": {
        "spaceRedirects": false
      }
    }
  ],
  "importOrder": ["<THIRD_PARTY_MODULES>", "", "^types$", "^\\$lib/(.*)$", "^@/(.*)$", "", "^[./]"],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-sh"
  ]
}
