@tailwind base;

@layer base {

  button:not(:not(.ant-btn-primary)),
  [type='button']:not(:not(.ant-btn-primary)),
  [type='reset']:not(:not(.ant-btn-primary)),
  [type='submit']:not(:not(.ant-btn-primary))
  {
    background-color: var(--primary-color);
  }

}


@layer base {

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  h4 {
    @apply text-xl font-semibold;
  }

  h5 {
    @apply text-lg font-medium;
  }

  h6 {
    @apply text-base font-medium;
  }

  a {
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

}

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 249, 250, 251;
  --primary-color: theme('colors.red.800');
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

